<div style="font-size: 550%; padding-left: 20px; padding-right: 20px;">
  <% if @temperatur.nil? %>
    Nach Beginn der Temperaturerfassung wird hier der aktuelle Status angezeigt
  <% else %>
    <div style="text-align: center;">
      <b >Pool <%= @temperatur.created_at.strftime('%H:%M:%S') %></b>
    </div>
    <table style="width: 100%;">
      <tr>
        <td>Sonne</td>
        <td style="text-align: right"><%=  @temperatur.Sonne.round(1) %></td>
      </tr>
      <tr>
        <td>Schatten</td>
        <td style="text-align: right"><%=  @temperatur.Schatten.round(1) %></td>
      </tr>
      <tr>
        <td>Vorlauf</td>
        <td style="text-align: right"><%=  @temperatur.Vorlauf.round(1) %></td>
      </tr>
      <tr>
        <td>Rücklauf</td>
        <td style="text-align: right"><%=  @temperatur.Ruecklauf.round(1) %></td>
      </tr>
      <tr>
        <td>Differenz</td>
        <td style="text-align: right"><%=  (@temperatur.Vorlauf - @temperatur.Ruecklauf).round(1) %></td>
      </tr>
      <tr>
        <td>Pumpe</td>
        <td><%= @temperatur.Pumpenstatus == 0 ? 'AUS' : 'AN' %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center"><%= @temperatur.pumpe_an_grund %></td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center"><%= @konfiguration.modus_text %></td>
      </tr>
    </table>
  <% end %>
</div>
