<div class="page">
  <div style="float: left">

    <%
      def hist(column)
        link_to('Historie', {:action => :show_historie, :column => column}, {:title => 'Anzeige der Änderungshistorie dieses Feldes'}  )
      end

      def column_record(column, align = 'right', size = 20)
        "<tr>
           <td>#{Konfiguration.get_title(column)}</td>
           <td style='text-align: right;'>#{text_field(:konfiguration, column, :size=>size, :style=>"text-align:#{align};")}</td>
           <td>#{hist(column)}</td>
         </tr>
        ".html_safe
      end

    %>

    <%= form_tag(url_for(:action=>:save_konfiguration)) do %>
        <h3>
        <div style="float:left">
          Aktuelle Konfiguration
        </div>
        <div style="float:left; padding-left: 20px;">
          <%= submit_tag('Speichern', :title=>'Speicher als ab jetzt aktive Konfiguration') %>
        </div>
        <div style="clear:both"></div>
        </h3>




        <fieldset>
          <legend>Steuerung über Temperatur-Werte</legend>
          <table border="1" width="100%">
            <%= column_record(:Min_Aktiv_Minuten_Vor_Vergleich) %>
            <%= column_record(:max_pool_temperatur) %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Steuerung über Zirkulations-Zeit</legend>
          <table border="1" width="100%">
            <%= column_record(:Tage_Rueckwaerts_Mindestens_Aktiv) %>
            <%= column_record(:Min_Aktiv_Stunden_je_Tag) %>
            <%= column_record(:Max_Stunde_Aktiv) %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Steuerung für zyklische Reinigung der Wasseroberfläche</legend>
          <table border="1" width="100%">
            <%= column_record(:Max_Inaktiv_Minuten_Tagsueber) %>
            <%= column_record(:Inaktiv_Betrachtung_Start) %>
            <%= column_record(:Inaktiv_Betrachtung_Ende) %>
            <%= column_record(:Min_Aktiv_Fuer_Reinigung) %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Absicherung des Zugriffs</legend>
          <table border="1" width="100%">
            <%= column_record(:UserName, 'left') %>
            <%= column_record(:Passwort, 'left') %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Betriebsmodus der Pumpensteuerung</legend>
          <table border="1" width="100%">
            <tr>
              <td>
                <%= radio_button(:konfiguration, :modus, 0)%>
                Automatisch (entsprechend Regeln)
              </td>
              <td>
                <%= radio_button(:konfiguration, :modus, 1)%>
                Ständig an (Regeln inaktiv)
              </td>
              <td>
                <%= radio_button(:konfiguration, :modus, 2)%>
                Ständig aus (Regeln inaktiv)
              </td>
              <td><%= hist(:modus) %></td>
            </tr>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Konfiguration der Schalt-Steckdose</legend>
          <table border="1" width="100%">
            <tr>
              <td><%= Konfiguration.get_title(:schalter_typ).html_safe %></td>
              <td style='text-align: right;'>
                <%= select :konfiguration, :schalter_typ, SchalterTyp.get_typen.collect {|p| [ p.name, p.name ] }  %>
              </td>
              <td><%= hist(:schalter_typ) %></td>
            </tr>

            <%= column_record(:schalter_ip,   'left') %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Konfiguration der Tempratur-Sensoren</legend>
          <table border="1" width="100%">
            <%= column_record(:filename_vorlauf_sensor,   'left', 40) %>
            <%= column_record(:filename_ruecklauf_sensor, 'left', 40) %>
            <%= column_record(:filename_sonne_sensor,     'left', 40) %>
            <%= column_record(:filename_schatten_sensor,  'left', 40) %>
          </table>
        </fieldset>

        <br>

        <%= submit_tag('Speichern', :title=>'Speicher als ab jetzt aktive Konfiguration') %>
    <% end %>


  </div>
  <div style="float: right">
    <%= image_tag('Thermometer.jpg') %>
  </div>
  <div style="clear: both"></div>
</div>


