<div class="page">
  <div style="float: left">
    <h3>Aktuelle Konfiguration</h3>

    <%
      def hist(column)
        link_to('Historie', {:action => :show_historie, :column => column}, {:title => 'Anzeige der Änderungshistorie dieses Feldes'}  )
      end

      def column_record(column, align = 'right')
        "<tr>
           <td>#{Konfiguration.get_title(column)}</td>
           <td style='text-align: right;'>#{text_field(:konfiguration, column, :style=>"text-align:#{align};")}</td>
           <td>#{hist(column)}</td>
         </tr>
        ".html_safe
      end

    %>

    <%= form_tag(url_for(:action=>:save_konfiguration)) do %>
        <fieldset>
          <legend>Steuerung über Temperatur-Werte</legend>
          <table border="1" width="100%">
            <%= column_record(:Min_Aktiv_Minuten_Vor_Vergleich) %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Steuerung über Zirkulations-Zeit</legend>
          <table border="1" width="100%">
            <%= column_record(:Tage_Rueckwaerts_Mindestens_Aktiv) %>
            <%= column_record(:Min_Aktiv_Stunden_je_Tag) %>
            <%= column_record(:Max_Stunde_Aktiv) %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Steuerung für zyklische Reinigung der Wasseroberfläche</legend>
          <table border="1" width="100%">
            <%= column_record(:Max_Inaktiv_Minuten_Tagsueber) %>
            <%= column_record(:Inaktiv_Betrachtung_Start) %>
            <%= column_record(:Inaktiv_Betrachtung_Ende) %>
            <%= column_record(:Min_Aktiv_Fuer_Reinigung) %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Absicherung des Zugriffs</legend>
          <table border="1" width="100%">
            <%= column_record(:UserName, 'left') %>
            <%= column_record(:Passwort, 'left') %>
          </table>
        </fieldset>

        <br>

        <fieldset>
          <legend>Betriebsmodus der Pumpensteuerung</legend>
          <table border="1" width="100%">
            <tr>
              <td>
                <%= radio_button(:konfiguration, :modus, 0)%>
                Automatisch (entsprechend Regeln)
              </td>
              <td>
                <%= radio_button(:konfiguration, :modus, 1)%>
                Ständig an (Regeln inaktiv)
              </td>
              <td>
                <%= radio_button(:konfiguration, :modus, 2)%>
                Ständig aus (Regeln inaktiv)
              </td>
              <td><%= hist(:modus) %></td>
            </tr>
          </table>
        </fieldset>

        <br>

        <%= submit_tag('Speichern') %>
    <% end %>


  </div>
  <div style="float: right">
    <%= image_tag('Thermometer.jpg') %>
  </div>
  <div style="clear: both"></div>
</div>


