<div class="page" style="height: 550px;">
    <h3>Temperatur-Verlauf von <%= @start %> bis <%= @ende %></h3>
    <div id="plot_area2">Anzeige folgt sofort ...</div>
</div>

<script type="text/javascript">
    jQuery(function($){
        var data_array = [
            {   label: 'Vorlauf',
                data: [
                    <%= @vorlauf %>
                ]
            },
            {   label: 'Rücklauf',
                data: [
                    <%= @ruecklauf %>
                ]
            },
            {   label: 'Sonne',
                data: [
                    <%= @sonne %>
                ]
            },
            {   label: 'Schatten',
                data: [
                    <%= @schatten %>
                ]
            },
            {   label: 'Pumpe an/aus',
                data: [
                    <%= @pumpenstatus %>
                ]
            }
        ];
        new plot_diagram('130', 'plot_area2', 'Temperatur-Verlauf Einzel-Messwerte', data_array,
                {
                    plot_diagram: {locale: 'de'},
                    series: {points: {show: false}}
                }
        );

    })


</script>


