<!DOCTYPE html>
<html>
<head>
  <title>Pool-Temperatursteuerung mit Raspberry Pi</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body class="rotsidan">
    <div class="head">
      <h2 align="center"><br><br>Pool-Temperatursteuerung mit Raspberry Pi</h2>
    </div>
    <div class="buttons">
      <div class="float_button">
        <%= form_tag(url_for(:controller=>:welcome, :action=>:index)) do %>
            <%= button_tag('Status aktuell' ) %>
        <% end %>
      </div>
      <div class="float_button" title="Kurve des Temperaturverlaufes der letzten beiden Tage">
        <%= form_tag(url_for(:controller=>:auswertung, :action=>:show_temperatur_verlauf_aktuell)) do %>
            <%= button_tag('Temperaturverlauf gestern und heute' ) %>
        <% end %>
      </div>
      <div class="float_button" title="Kurve des Temperaturverlaufes mit Auswahl der Zeitspanne">
        <%= form_tag(url_for(:controller=>:auswertung, :action=>:show_temperatur_verlauf)) do %>
            <%= button_tag('Temperaturverlauf variabel' ) %>
        <% end %>
      </div>
      <div class="float_button" title="Ansicht und Anpassung der Konfigurations-Parameter">
        <%= form_tag(url_for(:controller=>:konfiguration, :action=>:show_konfiguration)) do %>
            <%= button_tag('Konfiguration' ) %>
        <% end %>
      </div>
      <div class="float_button" title="Kurven von aggregierten Werten mit Auswahl der Zeitspanne">
        <%= form_tag(url_for(:controller=>:auswertung, :action=>:show_statistik)) do %>
            <%= button_tag('Statistik' ) %>
        <% end %>
      </div>
      <div style="clear: both"></div>
    </div>
    <%= yield %>
</body>
</html>
