<!DOCTYPE html>
<html>
<head>
  <title>RaspiHome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="head">
      <h2 align="center"><br><br>Pool-Temperatursteuerung mit Raspberry Pi</h2>
    </div>
    <div class="buttons">
      <div class="float_button">
        <%= form_tag(url_for(:controller=>:auswertung, :action=>:show_temperatur_verlauf_aktuell)) do %>
            <%= button_tag('Temperaturverlauf gestern und heute' ) %>
        <% end %>
      </div>
      <div class="float_button">
        <%= form_tag(url_for(:controller=>:auswertung, :action=>:show_temperatur_verlauf)) do %>
            <%= button_tag('Temperaturverlauf variabel' ) %>
        <% end %>
      </div>
      <div style="clear: both"></div>
    </div>
    <%= yield %>
</body>
</html>
